header {
    width: 100%;
    font-family:'Courier New', Courier, monospace;
}

.Title {
    font-size: 18px;
}

@media screen and (min-width: 1000px) {
    .Title { font-size: 22px;}
}

.Period {
    font-size: 24px;
}

@media screen and (min-width: 1000px) {
    .Period { font-size: 30px;}
}

section {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width:767px){
    section {
        display: flex;
        width: 100%;
        height: 400px;
        justify-content: center;
        align-content: center;
    }
}

body {
    background-image: url('./images/main.png');
    background-size: cover;
    text-align: center;
}

@media screen and (max-width:1023px) {
    body {background-image: url('./images/main\(tablet\).png');
        background-size: cover;
        text-align: center;}
}
    
@media screen and (max-width:767px) {
    body {background-image: url('./images/main\(mobile\).png');
        background-size: cover;
        text-align: center;}
}

.Main {
    font-weight: bold;
    padding: 50px;
}

.Official_Instagram {
    font-size: 14px;
    color: navy;
}

.Center {
    width: 150px;
    height: 30px;
    border: 1px solid white;
    padding: .3rem;
    font-size: 18px;
    color: white;
    outline: none;
    transition: all .5s;
    cursor: pointer;
    text-align: center;
    margin: auto;
}

@media screen and (max-width:767px) {
    .Center {
        width: 100px;
        height: 25px;
        border: 1px solid white;
        padding: .3rem;
        font-size: 16px;
        color: white;
        outline: none;
        transition: all .5s;
        cursor: pointer;
        text-align: center;
        margin: auto;
    }
}

.Center:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
}

@media screen and (max-width: 767px) {
    button::after {
        background-color: white;
        border: 1px solid white;
        color: black;
    }
}